<button (click)='toHome()' class="btn btn-success">Home</button>
<button class="btn btn-danger" (click)='logout()'>Logout</button>

<h1 class="display-3">New Question</h1>
<div class="container">
  <form class="form-group">
    <label for="content">Question</label>
    <textarea name="content" [(ngModel)]='question.content' required minlength="10" #content='ngModel' class="form-control" rows="5"></textarea>
    <div class="text-danger" *ngIf='content.errors && content.touched && content.dirty'>
      *
      <span *ngIf='content.errors.required'>Question is required</span>
      <span *ngIf='content.errors.minlength'>Question must be longer than 10 characters</span>
    </div>
    <label for="details">details (Optional)</label>
    <textarea name="details" [(ngModel)]='question.details' required minlength="10" #details='ngModel' class="form-control"
      rows="5"></textarea>
  </form>
  <div class="row float-right">
    <div class="col">
      <button (click)='toHome()' class="btn btn-success">Cancel</button>
    </div>
    <div class="col">
      <button (click)='addQuestion()' class="btn btn-success" *ngIf='!content.errors'>Submit</button>
    </div>
  </div>
</div>